
@{
    ViewData["Title"] = "Dashboard";

}

<head>
    <script src="~/js/Chart/Chart.js"></script>

</head>

<h1>Data Dashboard</h1>


<table>
    <thead>
        <tr>
            <th>
                Chart 1
            </th>
            <th>
                Chart 2
            </th>
        </tr>


    </thead>
    <tbody>
        <tr>
            <td>
                @await Html.PartialAsync("_Chart1")
            </td>
            <td>
                @await Html.PartialAsync("_Chart2")
            </td>
        </tr>


    </tbody>
    
</table>





