doctype html
html
    head
        title Menu
        meta(http-equiv="content-type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="../public/stylesheets/plain.css" type="text/css")
        link(rel="stylesheet" href="../public/stylesheets/frame.css" type="text/css")
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css")
        link(rel="apple-touch-icon" sizes="180x180" href="../public/images/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="../public/images/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="../public/images/favicon-16x16.png")
        link(rel="manifest" href="../public/images/site.webmanifest")
    body
        div(style="margin-top: 3rem; text-align: center" class="container")
            div(class="row")
                h1 Data Classification App - Menu
            div(class="row")
                if uploadFail === true
                    h2 Failed to upload file - Try again
                if wrongFile === true
                    h2 Only .xlsx, .txt, and .json file formats are supported - Try Again
                if classifyFail === true
                    h2 Couldn't process your file - Try again
                if queryError === true
                    h2 Couldn't write to database - Try again
            div(class="row")
                form(method="post" enctype="multipart/form-data" style="margin-top: 5rem")
                    div(class="row")
                        input(type="file" name="popiFile" class="button" required)
                    div(class="row")
                        input(type="submit" class="button-primary" value="Upload file")
            div(class="row")
                form(action="/view")
                    input(type="submit" value="View database")
