@{
    ViewData["Title"] = "About this application";
}
<h1>@ViewData["Title"]</h1>

<p>I made this application for my CMPG 323 module.</p>
<p>This application was made with MVC and Microsoft server.</p>
